<div class="text-secondary">
  <h1 class="text-start w-full font-bold text-3xl text-secondary">
    <%= title %>
  </h1>
  <p class="mt-4 text-justify w-full text-secondary"><%= paragraph %></p>
</div>
