<div class="w-full text-secondary px-24 py-4 mb-6 shadow-lg">
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-center">
      <h1 class="uppercase text-xl font-bold tracking-wide">Myown Notes</h1>
    </div>
    <div
      class="flex items-center justify-center gap-5 font-semibold capitalize text-lg"
    >
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/contact">contact</a>
      <a href="/create" class="px-4 py-1 bg-primary rounded-lg">create</a>
    </div>
  </div>
</div>
